*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.address{
    width: 400px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: -100px;
    margin-left: 940px;
    border: 1px solid white;
    padding: 10px;
}

.address h1{
    color: white;
}

.address h2{
    color: white;
}

.address p{
    color: white;
}

.map{
    width: 400px;
    height: 200px;
    margin: auto;
    margin-top: -350px;
    margin-right: 10px;
}

.map iframe{
    width: 400px;
    height: 200px;
}

.options{
    width: 200px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-size: 20px;
    margin-left: 20px;
}

.options a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.footer-section{
    width: 100%;
    height: 80vh;
    background: black;
    display: flex;
    flex-wrap: wrap;
}

.side-navbar{
    width: 100px;
    height: 80vh;
    background: linear-gradient(gray, black);
    box-shadow: 0px 3px 6px 0px gray;
    border-radius: 0px 40px 40px 0px;
}

.side-navbar a img{
    margin-top: 15px;
}

.side-navbar .fb-icon{
    width: 80px;
    height: auto;
    z-index: 15;
    padding: 18px;
    transition: width 0.5s;
}

.side-navbar .fb-icon:hover{
    width: 100px; 
}

.side-navbar .twitter-icon{
    width: 80px;
    height: auto;
    z-index: 15;
    padding: 18px;
    transition: width 0.5s;
}

.side-navbar .twitter-icon:hover{
    width: 100px;
}

.side-navbar .youtube-icon{
    width: 80px;
    height: auto;
    z-index: 15;
    padding: 18px;
    transition: width 0.5s;
}

.side-navbar .youtube-icon:hover{
    width: 100px;
}


.side-navbar .link-icon{
    width: 80px;
    height: auto;
    z-index: 15;
    padding: 18px;
    transition: width 0.5s;
}

.side-navbar .link-icon:hover{
    width: 100px;
}

.side-navbar .insta-icon{
    width: 80px;
    height: auto;
    z-index: 15;
    padding: 18px;
    transition: width 0.5s;
}

.side-navbar .insta-icon:hover{
    width: 100px;
}