*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-img{
    margin-top: -150px;
    position: fixed;
    z-index: -999;
}

.main-section1{
    width: 100%;
    height: 100vh;
    background: white;
    align-items: center;
    
}

.main-section1 .second-img{
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    
}

.black-screen{
    width: 100%;
    height: 100vh;
    background: black;
}

.main-section1 .black-screen h1{
    z-index: 15;
    margin: auto;
    color: white;
    font-size: 60px;
}

.main-section1 .black-screen h3{
    z-index: 15;
    margin: auto;
    color: white;
    font-size: 60px;
}

.heading{
    position: absolute;
    width: 100%;
    top: 50vh;
    margin: auto;
    text-align: center;
    z-index: 15;
}

.main-section2{
    width: 100%;
    height: 100vh;
    background: none;
}

.main-section3{
    height: 150vh;
    background-color: white;
    box-shadow: 0px 16px 72px 10px black;

}

.main-section3 img{
    width: 500px;
    padding: 60px;
    box-shadow: 0px 6px 12px 0px black;
    transition: width 0.5s;
}

.main-section3 img:hover{
    width: 600px;
}

.content{
    display: flex;
}

.content-para{
    padding: 80px;
}

.content-para h1{
    font-size: 40px;
    border-bottom: 1px solid red;
}

.content-para p{
    margin-top: 10px;
    font-size: 18px;
}

.content2{
    text-align: right;
    width: 100%;
    display: flex;
}

.content-para2{
    padding: 80px;
}

.content2 .content-para2 h1{
    font-size: 40px;
    border-bottom: 1px solid red;
}

.content2 .content-para2 p{
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
}

.welcome-back{
    width: 100%;
    height: 60vh;
    margin: auto;
    text-align: center;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.397));
    display: flex;
    margin-top: 180px;
}

.inner{
    width: 100%;
    height: 60vh;
}

.welcome-back h1{
    font-size: 40px;
    color: white;
}

.welcome-back h3{
    font-size: 60px;
    color: white;
    border-bottom: 1px solid red;
}

.welcome-back p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    padding: 50px;
}

.main-section4{
    width: 100%;
    height: 100vh;
    background: transparent;
}

.product{
    display: none;
}

@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.list{
    display: flex;
    width: 90%;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    z-index: 16;
    left: 80px;
    animation: 0.5s ease-out 0s 1 slideInLeft;
}

.product button{
    position: absolute;
    right: 10px;
    padding: 10px;
    background: none;
    border: none;
    color: red;
    font-weight: bold;
}

.table {
    position: absolute;
}